langchain
ipykernel
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
streamlit
pandas
numpy
openai
langchain-groq
duckduckgo-search
pymupdf
duckdb
mysql-connector-python
SQLALchemy
validators==0.28.1
youtube_transcript_api
unstructured
beautifulsoup4
lxml
groq
